{% extends "base.html" %}

{% block content %}
    <h1>Hello, {{current_user.username}}!</h1>
    {% for post in posts %}
    <div><p>{{comment.author.username}} says: <b>{{comment.comment_text}}</b></p></div>
    {% endfor %}
    <div><p>the end</p></div>
{% endblock %}